html {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    margin:0 0;
}

/* get head here */
header {
    box-sizing:border-box;
    height:64px;
    width: 100%;
    padding: 0 24px;
    display:inline-flex;
    align-items:center;
}
header ul {
    flex:1;
    list-style-type: none;
    display:flex;
    margin:0 0;
    justify-content:flex-end;
}
header li {
    padding:16px;
}

header .desktop, .mobile {
    display:inline-flex;
    width:100%;
}

.meat {
    position:relative;
    display:inline-flex;
    justify-content:center;
    flex-wrap: wrap;
}

.meat img {
    width:100%;
}
.section {
    padding:32px 0px 32px 24px;
    width:100%;
    display:inline-flex;
}

.L60 {
    width: 60%;
    margin-right:24px;
}

.R40 {
    width: 40%;
    display:inline-flex;
    align-items:center;
    flex-wrap:wrap;

}

.gray {
    background-color:#dbdfe3;
}

.top {
    padding-right:24px;
}

button {
    width: 80%;
    padding:8px;
    background-color:#423d3d;
    color:white;
    border:none;
}

.practice .L60 h2 {
    margin-top:32px;
    margin-bottom:24px;
}
.sidebar {
    display:inline-flex;
    padding:16px 16px;
    align-items:center;
    width:100%
}

.sidebar img {
    width:35%;
    height:35%;
    margin-right:16px;
}

.sidebar h4 {
    margin:0 0;
}
.sidebar p {
    margin:8px 0px;
}

.strt-lrn {
    justify-content:center;
    flex-wrap:wrap;
    padding: 32px 0px;
}

.wall {
    margin:0px 72px;
    display:inline-flex;
    width:100%;
    justify-content:space-around;
    flex-wrap:wrap;
}

.brick {
    background-color:white;
    width:31%;
    margin-bottom:12px;
}

.brick img {
    width:100%;
    height:auto;
}

.brick-text{
    padding:16px 16px;
}

.brick-text h3 {
    margin-top:0px;
}

.strt-lrn ul {
    list-style-type:none;
    width:100%;
    justify-content:center;
    display:flex;
    flex-wrap:wrap;
    margin:0 0;
}

.strt-lrn li {
    padding:16px 16px;
    background-color:#dbdfe3;
    margin:8px 0px;
    width:80%
}

.thesis{
    justify-content:center;
    flex-wrap:wrap;
}

.section h2 {
    margin-top:0px;
    margin-bottom:32px;
}

.container{
    width:100%;
    display:inline-flex;
}

.container .R40 {
    align-content:flex-start;
}

@media only screen and (min-width:1000px) {
    .mobile {
        display:none;
    }
}

@media only screen and (max-width:1000px) {
     .desktop, header .desktop{
        display:none;
    }

    ul {
        padding:0 0;
    }

    header ul {
        justify-content: space-around;
    }

    .section {
        padding:32px 0px 32px 0px;
    }

    .top {
        flex-wrap:wrap;
        justify-content: center;
        padding: 0 0 32px 0;
    }

    .L60 {
        margin:0 0;
        padding:0 0;
    }

    .top .R40 div {
        padding: 0px 16px;
    }

    button {
        width:100%;
    }

    .L60, .R40 {
        width:100%;
        justify-content:center;
    }
    
    .sidebar {
        flex-wrap:wrap;
    }

    .sidebar img {
        width:100%;
        margin-right:0px;
    }

    .side-text {
        padding-top:8px;
    }

    .speaker {
        background-color:white;
    }

    .strt-lrn {
        background-color: white;
        padding:0;
    }

    .strt-lrn h2 {
        margin: 0px 0 16px 0;
    }
}